<!DOCTYPE html>
<%= render "/refinery/html_tag" %>
  <% site_bar = render('/refinery/site_bar', :head => true) -%>
  <head>
    <%= render "/refinery/head" %>
  </head>
  <body id="<%= canonical_id @page %>">
    <div id="wrap">
    <%= site_bar -%>

      <header id="header">
        <%= render "/refinery/header" -%>
      </header>

      
        <section id="page" class="main">
          <%= yield %>
        </section>
      
    </div>

      <footer>
        <%= render "/refinery/footer" -%>
      </footer>
    
    <%= render "/refinery/javascripts" %>
  </body>
</html>
